%header
  %h1= "#{@article.title}"
  %h2.attribution= "posted by #{@article.author} on"
  %time{:datetime => @article.published.strftime('%Y-%m-%d')}
    = "#{@article.published.strftime('%B')} #{@article.published.strftime('%d')}"
%section#content
  = article_html(@article)