%section#feed
  %header
    %h1 Articles
    - @articles.group_by{|a| a.published.year }.each do |year, articles|
      %time{ :datetime => articles.first.published.strftime('%Y') }
        = year
      %section.year
        - articles.group_by{|a| a.published.month}.each do |month, articles|
          %time{ :datetime => articles.first.published.strftime('%Y-%m-%d') }
            = articles.first.published.strftime('%B')
            - for article in articles
              %article
                %h1
                  %a{:href => article_path(article)}= article.title
                %p
                  %em= article.author
                %p= article.excerpt
      %hr